.container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 20px;
}

.infoItem {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

@media (max-width:801px) {
    .container {
        flex-direction: column;
        gap: 10px;
        /*display: none;*/
    }
}