.jobContainer {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.leftDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.jobTitle {
    font-size: 24px;
    font-weight: bold;
}

.companyName {
    font-size: 16px;
    font-weight: normal;
}

/* TODO: Fix the stretching issue */

.logoDiv {
    height: 60px;
    width: 60px;
    background-color: #ffffff;
    border-radius: 100%;
    padding: 5px;
    /*margin-left: 20px;*/
    /*margin-right: 20px;*/
    align-content: center;
    /*box-shadow: var(--box-shadow);*/
}

.logoDiv img {
    height: 100%;
    width: 100%;
    object-fit: scale-down;
    border-radius: 50%;
}

/*.noDecoration {*/
/*    text-decoration: none;*/
/*    color: #ffffff;*/
/*}*/

.titleAndCompany {
    display: flex;
    flex-direction: column;
    gap: 5px;
}