.title, .subtitle {
    /*text-shadow: var(--text-shadow);*/
    color: #ffffff;
}

.title {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.subtitle {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    margin-top: 10px;
}

.positionPage {
    background-size: 100%;
    padding-left: 80px;
    padding-right: 80px;
}

.positionContainer {
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: repeat(5, 1fr);
    /*margin-left: 300px;*/
    /*margin-right: 300px;*/
    padding-bottom: 100px;
    gap: 20px;
}

.positionHeader {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /*gap: 20px; */
}

.applyButton {
    background: none;
    border: 2px solid #ffffff;
    color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.1s;
}

.applyButton:disabled {
    cursor: auto;
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.5);
}

.logoAndPositionDescription {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.roleOuterContainer {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.companyOuterContainer {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.roleInfoCard, .companyInfoCard {
    padding: 20px;
}

.titleAndCompany {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.jobTitle {
    font-size: 24px;
    font-weight: bold;
}

.companyName {
    font-size: 16px;
    font-weight: normal;
}

.logoDiv {
    height: 60px;
    width: 60px;
    background-color: #ffffff;
    border-radius: 100%;
    padding: 5px;
    /*margin-left: 20px;*/
    /*margin-right: 20px;*/
    align-content: center;
    /*box-shadow: var(--box-shadow);*/
}

.logoDiv img {
    height: 100%;
    width: 100%;
    object-fit: scale-down;
    border-radius: 50%;
}

.simOpsOuterContainer {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/*.contentText {*/
/*    font-family: "Helvetica Neue", sans-serif;*/
/*    color: #ffffff;*/
/*    text-align: left;*/
/*}*/

.listOfOpportunities {
    display: flex;
    flex-direction: column;
    gap: 10px;
}