.title {
    font-size: 72px;
    font-weight: bold;
    color: #ffffff;
    /*text-shadow: var(--text-shadow);*/
    text-align: center;
    margin-top: 120px;
    margin-bottom: 120px;
}

.jobsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*max-width: 1000px;*/
    /* TODO change to max-width*/
    margin-left: 200px;
    margin-right: 200px;
}

.jobListPage {
    /*background: conic-gradient(from 230deg at center, #002E3D, #003D69, #0090A3) no-repeat fixed;*/
    background-size: 100%;
}

.containerFlex {
    margin-top: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-bottom: 100px; /* TODO change to margin once we have a footer */
}