.jobListPage {
    /*background: conic-gradient(from 230deg at center, #002E3D, #003D69, #0090A3) no-repeat fixed;*/
    background-size: 100%;
}

.title {
    font-size: 72px;
    font-weight: bold;
    color: #ffffff;
    /*text-shadow: var(--text-shadow);*/
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.jobsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    /*max-width: 1000px;*/
    /*margin-left: 200px;*/
    /*margin-right: 200px;*/
    gap: 50px;
}

.containerFlex {
    /*margin-top: 80px;*/
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-bottom: 100px; /* TODO change to margin once we have a footer */
}

.noJobs {
    font-size: 18px;
    font-weight: normal;
    color: #ffffff;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

@media (max-width:600px) {
    .title {
        font-size: 36px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .jobsContainer {
        margin-top: 30px;
        gap: 30px;
    }

    .noJobs {
        font-size: 12px;
    }
}